/* ----------- Media Queries ---------- */
@media (max-width: 475px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
        width: 100vw;
        height: 5rem;
        background: var(--color-brand-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 3;
        position: fixed;
        top: 0;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        padding: 1rem;
    }

    #nav-row1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-row1 div img {
        width: 1rem;
        filter: invert();
        margin-right: 0.6rem;
    }

    #nav-row1 div a {
        text-decoration: none;
        color: var(--color-white-bg);
        font-size: 0.8rem;
    }

    #nav-row2 {
        width: 21rem;
        position: sticky;
        top: 0;
        height: 2rem;
        border: 2px solid #fff;
        padding: 0px 10px;
        border-radius: 2px;
        background: var(--color-white-bg);

    }

    .items-bar {
        display: none;
    }

    .items-bar--mobile {
        background: var(--color-white-bg);
        box-shadow: -1 3px #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 0.6rem;
        margin-top: 5rem;
        margin-bottom: 1.3em;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        overflow-x: scroll;
    }

    .category {
        width: 5rem;
        height: 5rem;
    }

    .category>img {
        width: 3rem;
    }

    #banner,
    .wrapper-items {
        width: 98%;
        height: 10rem;
    }

    #banner,
    .slideshow-container img {
        height: 7rem;
    }

    .cover {
        width: 15rem;
    }

    .cover span {
        font-size: 0.8rem;
    }

    .cover button {
        width: 4rem;
        height: 2rem;
    }

    .wrapper-content div {
        width: 10rem;
    }

    .wrapper--content-txt {
        padding: 0.2rem;
    }

    .wrapper-content div img {
        width: 4rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.4rem;
    }

    .wrapper--content-txt p {
        font-size: 0.6rem;
    }

    #wrapper-content--fridge {
        width: 2.5rem;
    }

    .info>p {
        font-size: 0.8rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.6rem;
        line-height: 0.8rem;
    }

    .bottom-section {
        height: 12rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 0.5rem;
    }

    #left-part div {
        gap: 0.2rem;
        font-size: 0.3rem;
    }

    #left-part>div>a {
        line-height: 0.5rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.2rem;
        font-size: 0.3rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }

    #right-part>div>span {
        line-height: 0.5rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 3rem;
        padding: 0.8rem;
        font-size: 0.5rem;
    }

    .bottom-nav div img {
        width: 0.6rem;
    }

    #payment-method {
        width: 10rem;
    }

}

@media (min-width: 475px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
        width: 100vw;
        height: 6rem;
        background: var(--color-brand-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 3;
        position: fixed;
        top: 0;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }

    #nav-row1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-row1 div img {
        width: 1.1rem;
        filter: invert();
        margin-right: 0.6rem;
    }

    #nav-row1 div a {
        text-decoration: none;
        color: var(--color-white-bg);
        font-size: 1rem;
    }


    #nav-row2 {
        width: 30rem;
        position: sticky;
        top: 0;
        height: 2rem;
        border: 2px solid #fff;
        padding: 0px 10px;
        border-radius: 2px;
        background: var(--color-white-bg);
    }


    .items-bar {
        display: none;
    }

    .items-bar--mobile {
        background: var(--color-white-bg);
        box-shadow: -1 3px #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 0.6rem;
        margin-top: 5rem;
        margin-bottom: 1.3em;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        overflow-x: scroll;
    }

    .category {
        width: 5rem;
        height: 5rem;
    }

    .category>img {
        width: 3rem;
    }

    #banner,
    .wrapper-items {
        width: 98%;
        height: 10rem;
    }

    #banner,
    .slideshow-container img {
        height: 8rem;
    }

    .cover {
        width: 15rem;
    }

    .cover span {
        font-size: 0.8rem;
    }

    .cover button {
        width: 4rem;
        height: 2rem;
    }

    .wrapper-content div {
        width: 10rem;
    }

    .wrapper--content-txt {
        padding: 0.2rem;
    }

    .wrapper-content div img {
        width: 4rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.4rem;
    }

    .wrapper--content-txt p {
        font-size: 0.6rem;
    }

    #wrapper-content--fridge {
        width: 2.5rem;
    }

    .info>p {
        font-size: 0.9rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    .bottom-section {
        height: 15rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 0.3rem;
    }

    #left-part div {
        gap: 0.4rem;
        font-size: 0.45rem;
    }

    #left-part>div>a {
        line-height: 0.5rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.4rem;
        font-size: 0.45rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }

    #right-part>div>span {
        line-height: 0.6rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 3rem;
        padding: 0.9rem;
        font-size: 0.5rem;
    }

    .bottom-nav div img {
        width: 0.60rem;
    }

    #payment-method {
        width: 10rem;
    }

}

@media (min-width: 812px) {
    .navbar-mobile {
        display: none;
    }

    .items-bar--mobile {
        display: none;
    }

    .navbar {
        display: block;
        width: 100vw;
        height: 4rem;
        background: var(--color-brand-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: fixed;
        top: 0;
        z-index: 3;
    }

    .items-bar {
        display: block;
        background: var(--color-white-bg);
        box-shadow: -1 3px #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 4.6em;
        margin-bottom: 1.3em;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }

    #banner,
    .wrapper-items {
        width: 98%;
        height: 15rem;
    }

    #banner,
    .slideshow-container img {
        height: 10rem;
    }

    .cover {
        width: 13rem;
    }

    .cover span {
        font-size: 1.2rem;
    }

    .cover button {
        width: 6rem;
        height: 2rem;
    }

    .wrapper-content div {
        width: 12rem;
    }

    .wrapper--content-txt {
        padding: 0.8rem;
    }

    .wrapper-content div img {
        width: 6rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.7rem;
    }

    .wrapper--content-txt p {
        font-size: 0.9rem;
    }

    #wrapper-content--fridge {
        width: 3rem;
    }

    .info>p {
        font-size: 1rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .bottom-section {
        height: 15rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 0.3rem;
    }

    #left-part div {
        gap: 0.4rem;
        font-size: 0.6rem;
    }

    #left-part>div>a {
        line-height: 0.7rem;
    }

    #left-part>div>p {
        margin-bottom: 0.6rem;
        font-size: 0.8rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.4rem;
        font-size: 0.6rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    #right-part>div>span {
        line-height: 0.8rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 3rem;
        padding: 0.9rem;
        font-size: 0.7rem;
    }

    .bottom-nav div img {
        width: 0.8rem;
    }

    #payment-method {
        width: 15rem;
    }
}

@media (min-width: 1024px) {

    #banner,
    .wrapper-items {
        width: 90%;
        height: 17rem;
    }

    #banner,
    .slideshow-container img {
        height: 12rem;
    }

    .cover {
        width: 14rem;
    }

    .cover span {
        font-size: 1.3rem;
    }

    .cover button {
        width: 7rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .wrapper-content div {
        width: 14rem;
    }

    .wrapper--content-txt {
        padding: 0.9rem;
    }

    .wrapper-content div img {
        width: 7rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.8rem;
    }

    .wrapper--content-txt p {
        font-size: 1rem;
    }

    #wrapper-content--fridge {
        width: 3rem;
    }

    .info>p {
        font-size: 1rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    .bottom-section {
        height: 20rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 1rem;
    }

    #left-part div {
        gap: 0.4rem;
        font-size: 0.7rem;
    }

    #left-part>div>a {
        line-height: 0.9rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.4rem;
        font-size: 0.7rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    #right-part>div>span {
        line-height: 1rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 4rem;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .bottom-nav div img {
        width: 0.9rem;
    }

    #payment-method {
        width: 20rem;
    }
}

@media (min-width: 1280px) {

    #banner,
    .wrapper-items {
        width: 90%;
        height: 20rem;
    }

    #banner,
    .slideshow-container img {
        height: 15rem;
    }

    .cover {
        width: 15rem;
    }

    .cover span {
        font-size: 1.6rem;
    }

    .cover button {
        width: 8rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .wrapper-content div {
        width: 16rem;
    }

    .wrapper--content-txt {
        padding: 1.1rem;
    }

    .wrapper-content div img {
        width: 8rem;
    }

    .wrapper--content-txt>span {
        font-size: 1rem;
    }

    .wrapper--content-txt p {
        font-size: 1.2rem;
    }

    #wrapper-content--fridge {
        width: 4.3rem;
    }
}

@media (min-width: 1536px) {
    .navbar {
        height: 5rem;
        gap: 1.5rem;
    }

    #nav-logo {
        height: 1.5rem;
    }

    .search-element {
        width: 30rem;
        height: 3rem;
    }

    #search {
        font-size: 1.2rem;
    }

    table img {
        width: 1.6rem;
    }

    #login-button {
        height: 3em;
        width: 7em;
    }

    #login-button a {
        font-size: 1.2rem;
    }

    #nav-link,
    .nav-para {
        font-size: 1.2rem;
    }

    #nav-cart {
        width: 1.2rem;
        filter: invert();
    }

    .items-bar {
        padding: 1.4rem;
        gap: 2rem;
        margin-top: 6em;
        margin-bottom: 2rem;
    }

    .category {
        width: 6rem;
        height: 10rem;
    }

    .category>img {
        width: 5rem;
    }

    .category,
    .category>a,
    .category span p {
        font-size: 1rem;
    }

    .dp-menu {
        width: 18rem;
    }

    .menu-list {
        line-height: 1.5rem;
        padding: 0.8rem;
    }

    .menu-list a {
        font-size: 1rem;
    }

    #banner,
    .wrapper-items {
        width: 80%;
        height: 25rem;
    }

    #banner,
    .slideshow-container img {
        height: 18rem;
    }

    .cover {
        width: 30rem;
    }
    .cover img {
        width: 30rem;
    }

    .cover span {
        font-size: 1.6rem;
    }

    .cover button {
        width: 11rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    .wrapper-content div {
        width: 30rem;
    }

    .wrapper--content-txt {
        padding: 1.5rem;
    }

    .wrapper-content div img {
        width: 10rem;
    }

    .wrapper--content-txt>span {
        font-size: 1.1rem;
    }

    .wrapper--content-txt p {
        font-size: 1.2rem;
    }

    #wrapper-content--fridge {
        width: 6rem;
    }


    .info>p {
        font-size: 1rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .bottom-section {
        height: 20rem;
        padding: 1rem;
        gap: 2rem;
    }

    .bottom-section #left-part {
        gap: 2rem;
    }

    #left-part div {
        gap: 0.6rem;
        font-size: 0.8rem;
    }

    #left-part>div>a {
        line-height: 1rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .bottom-section #right-part {
        width: 20rem;
        gap: 2rem;
    }

    .vert-line {
        height: 9rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.6rem;
        font-size: 0.8rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    #right-part>div>span {
        line-height: 1.2rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 4rem;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .bottom-nav div img {
        width: 0.9rem;
    }

    #payment-method {
        width: 20rem;
    }
}