:root {
    --color-white-bg: #fff;
    --color-black: #000;
    --color-light-black: #172337;
    --color-border-grey: #e4e7ed;
    --color-brand-orange: #fb641b;
    --color-brand-blue: #2874f0;
    --color-brand-bbd: #2455f4;
    --color-brand-refurb: #f2575b;
    --color-brand-footer: #172337;
    --color-brand-blue-lighter: #7accff;
    --color-brand-blue-lighter1: #dfeafd;
    --color-blue-lighter1: #b3d7ff;
    --color-blue-lighter2: #2370f4;
    --color-blue-lighter3: #2a55e5;
    --color-blue-lighter4: #f5f7fa;
    --color-blue-lighter5: #d5d7db;
    --color-blue-lighter6: #cfe1ff;
    --color-blue-lighter7: #f0f5ff;
    --color-primary-yellow: #ffe11b;
    --color-primary-yellow2: #f1d27d;
    --color-yellow-grade1: #fff7e1;
    --color-yellow-grade2: #fef8e0;
    --color-purple: #5f4eeb;
    --color-offer-green: #388e3c;
    --color-green-grade0: #26a541;
    --color-green-grade1: #e9f2e9;
    --color-green-grade2: #e6f4e8;
    --color-green-grade3: #e6f3e6;
    --color-green-grade4: #008c00;
    --color-yellowish-orange: #ff9f00;
    --color-flash-green: #11c29b;
    --color-error-red: #ff6161;
    --color-error-red2: #ff4343;
    --color-error-red3: #ffeaed;
    --color-error-red4: #dd5354;
    --color-error-red5: #d23276;
    --color-error-red6: #e4001e;
    --color-error-red7: #e32727;
    --color-grey-grade0: #fafafa;
    --color-grey-grade1: #f0f0f0;
    --color-grey-grade2: #e0e0e0;
    --color-grey-grade3: #c2c2c2;
    --color-grey-grade4: #878787;
    --color-grey-grade5: #212121;
    --color-grey-grade6: #d7d7d7;
    --color-grey-grade7: #f9f9f9;
    --color-grey-grade8: #9e9e9e;
    --color-grey-grade9: #efefef;
    --color-grey-grade10: #f5f5f5;
    --color-grey-grade11: #aaa;
    --color-grey-grade12: #dbdbdb;
    --color-grey-grade13: #fbfbfb;
    --color-grey-grade14: #666;
    --color-grey-grade15: #f8f8f8;
    --color-grey-grade16: #eee;
    --color-grey-grade17: #9b9b9b;
    --color-grey-grade18: #686868;
    --color-grey-grade19: #eaeaea;
    --color-grey-grade20: #e6e6e6;
    --color-grey-grade21: #e9e9e9;
    --color-grey-grade22: #d8d8d8;
    --color-grey-grade23: #ffcbd0;
    --color-grey-grade24: #717478;
    --color-grey-grade25: #111112;
    --color-grey-grade26: #f0f2f5;
    --color-grey-grade27: #e4e7ed;
    --color-grey-grade28: #d5d7db;
    --color-greyish-blue: #b8bbbf;
    --color-light-greyish-blue: #f1f3f5;
    --color-error-bg: #fff7f8;
    --color-info-bg: #ffffe6;
    --color-info-light-bg: #fffbf6;
    --color-page-bg: #f1f3f6;
    --color-green-bg: #f7fffa;
    --color-blue-bg: #f5faff;
    --color-vip-black-bg: #343c4e;
    --color-grey-badge: #717171;
    --color-grey-light: #d3d3d3;
    --color-grey-light2: #d5d7db;
    --color-vendor-text: #3f3f3f;
    --color-supermart-green: #26a541;
    --color-dark-blue1: #1d6ded;
    --color-light-blue: #f4f8ff;
    --color-light-blue1: #bed5fa;
    --color-light-blue2: #93b7f1;
    --color-light-blue3: #f0f5ff;
    --color-suparmart-fk-background: #258b3b;
    --color-info-yellow: #fffdec;
    --color-cobranded-footer-blue: #005387;
    --color-pre-book-purple: #854987;
    --color-light-pink: #fff0ff;
    --color-light-orange: #fdf5e7;
    --color-orange-bg: #fff7e1;
    --color-bright-orange: #e79900;
    --color-payment-orange: #ffc200;
    --color-wishlist-red: #ff4343;
    --color-light-green: #e7f8ec;
    --color-selector-black: #010101;
    --color-light-grey-orange: #fef7e9;
    --color-mustard: #af7b1c;
    --color-light-white-bg: #f5f7fa;
    --header-width-min: 790px;
    --width-min: 978px;
    --width-max: 1680px;
    --product-page-gutter: 24px;
    --product-section-title-width: 110px;
    --product-section-title-padding: 10px;
    --font-regular: 400;
    --font-medium: 500;
    --font-size-8: 8px;
    --font-size-10: 10px;
    --font-size-11: 11px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-28: 28px;
    --font-size-32: 32px;
    --font-size-default: 14px;
    --font-family: Roboto, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-default);
}


#container {
    background: var(--color-page-bg);
}

/* -------- Login Box -------- */
#login {
    display: none;
    position: absolute;
    z-index: 5;
    background: #0009;
    pointer-events: visible;
}

.login-box {
    height: 100svh;
    width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-window {
    width: 750px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px 0 #000;

}

#login--left-pt {
    height: 100%;
    background: var(--color-brand-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px 0 0 4px;
    flex-grow: 1;
}

#title-login {
    color: var(--color-white-bg);
    font-size: 23px;
    font-weight: 800;
}

.txt-login {
    color: var(--color-white-bg);
    font-size: 18px;
    line-height: 1.5em;
    width: 13rem;
    text-align: left;
}

#login--left-pt img {
    width: 200px;
}

#login--right-pt {
    height: 100%;
    background: var(--color-white-bg);
    border-radius: 0 4px 4px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
}

#login--right-pt form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 3em;
}

#login--right-pt form label {
    font-size: 16px;
    color: #878787;
}

#login--right-pt form input {
    outline: none;
    border: none;
    border-bottom: 1px solid #878787;
}


#login--right-pt form div {
    color: #878787;
    font-size: 12px;
}

#login-terms {
    width: 20rem;
}

#login--right-pt form a {
    text-decoration: none;
    color: var(--color-brand-blue);
}

.otp-btn {
    width: 20rem;
    height: 3rem;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 800;
    color: var(--color-white-bg);
    background: var(--color-brand-orange);
    cursor: pointer;
}

#login--right-pt form+span a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    color: var(--color-brand-blue);
}

#login-close {
    width: 2em;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    cursor: pointer;
}

/*  -------- Login box Ends  --------  */
.navbar-mobile {
    display: none;
}

/* Nav Bar */
.navbar {
    width: 100%;
    height: 4rem;
    background: var(--color-brand-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 0;
    z-index: 3;
}

#nav-logo {
    height: 1.2em;
}

.search-element {
    width: 25rem;
    height: 2.3rem;
    background: #fff;
    border: 2px solid #fff;
    padding: 0px 10px;
    border-radius: 2px;
}

.search-bar {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    font-size: 14px;
    font-weight: 400;
}

table img {
    width: 1rem;
}

#search:focus {
    outline: none;
}

#login-button {
    height: 2em;
    width: 5em;
    padding: 0.4em;
    text-align: center;
    background: var(--color-light-white-bg)
}

#login-button>a {
    text-decoration: none;
    color: var(--color-dark-blue1);
}

#nav-link {
    text-decoration: none;
    color: var(--color-light-white-bg);
    font-size: var(--font-size-default);
    font-weight: var(--font-medium);
}

.nav-para {
    color: var(--color-light-white-bg);
    font-weight: var(--font-medium);
}

.nav-para {
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 12
}
/* Items Bar */
.items-bar--mobile {
    display: none;
}
.items-bar {
    background: var(--color-white-bg);
    box-shadow: -1 3px #000;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4.6em;
    margin-bottom: 1.3em;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.category {
    position: relative;
    width: 5rem;
    height: 7rem;
    text-align: center;
    cursor: pointer;
}

.category>img {
    width: 4rem;
}

.category>a {
    text-decoration: none;
    color: var(--color-vip-black-bg);
    font-weight: var(--font-medium);
}

/*top bar: dropdown menu */
.dp-menu {
    display: none;
    position: absolute;
    margin-top: 0.8rem;
    z-index: 2;
    width: 15rem;
    background: var(--color-white-bg);
    border-radius: 3px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translateX(-4em);
}


.menu-list {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    line-height: 1.8rem;
    text-align: left;
    padding: 5px;
}

.menu-list>a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    font-family: var(--font-family);
}

.menu-list>a:hover {
    background: var(--color-page-bg);
    color: var(--color-blue-lighter2);
    font-weight: 600;
}

.fashion:hover .dp-menu,
.electronics:hover .dp-menu,
.home:hover .dp-menu,
.toys:hover .dp-menu {
    display: block;
    color: var(--color-brand-bbd)
}


.nav-arrow {
    position: absolute;
    z-index: 1;
    width: 10px;
    margin-top: 2px;
}

.fashion:hover span img,
.electronics:hover span img,
.home:hover span img,
.toys:hover span img {
    animation: rotate 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/* Main Content*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: var(--color-page-bg);
}

#banner,
.wrapper-items {
    width: 85%;
    height: 20rem;
    background: var(--color-white-bg);
    position: relative;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.wrapper-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover {
    height: inherit;
    display: flex;
    width: 17rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.cover span {
    font-size: var(--font-size-20);
    font-weight: var(--font-medium);
    padding: 0.6rem;
}

.cover button {
    outline: none;
    border: none;
    width: 8rem;
    height: 3rem;
    color: var(--color-white-bg);
    background: var(--color-brand-blue);
    cursor: pointer;
}


.wrapper-content {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    overflow-x: scroll;
}

.wrapper-content div {
    height: inherit;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}



.wrapper--content-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 1rem;
}

.wrapper--content-txt>span {
    font-size: var(--font-size-16);
    font-weight: var(--font-medium);
}

.wrapper--content-txt p {
    color: var(--color-green-grade0);
    font-size: var(--font-size-16);
}

.wrapper--content-txt p+span {
    color: #838383;
}

.wrapper-content > div img {
    width: 6rem;
}

#wrapper-content--fridge {
    width: 5rem;
}

#banner {
    height: 13rem;
}

/* ------ Banner Slideshow ------- */

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    width: 100%;
    height: 13rem;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: #fff;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* ---------- info ----------- */

.info {
    background: var(--color-white-bg);
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.info>p {
    color: #878787;
    font-size: 16px;
    font-weight: 800;
    margin: 1rem 0;
}

.info>span {
    color: #8a8a8a;
    font-size: 11px;
    line-height: 1.2em;
}

.info a {
    text-decoration: none;
    color: var(--color-brand-blue);
}

.info br {
    margin-bottom: 1rem;
}

/* Footer */
.bottom-section {
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color-light-black);
    padding: 10px;
    gap: 2rem;
}

.bottom-section #left-part {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    gap: 1.5em;
}

#left-part div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 0.5em;
    font-size: 11px;
}

#left-part>div>a {
    text-decoration: none;
    color: var(--color-grey-grade7);
    line-height: 1.5em;
}

#left-part>div>a:hover {
    text-decoration: underline;
}

#left-part>div>p {
    margin-bottom: 0.7em;
    color: #727478;
    font-size: 12px;
}

.bottom-section #right-part {
    width: 23em;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    gap: 2em;
}

.vert-line {
    height: 10em;
    width: 1px;
    background: var(--color-white-bg);
}

#right-part div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    gap: 0.5em;
    font-size: 11px;
    color: var(--color-grey-grade7);
}

#right-part>div>p {
    margin-bottom: 0.7em;
    color: #727478;
    font-size: 12px;
}

#right-part>div>span {
    line-height: 1.5em;
}

#right-part a {
    text-decoration: none;
    color: var(--color-brand-blue);
}


.bottom-nav {
    margin-top: 1px;
    height: 5rem;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-light-black);
    font-size: 13px;
}

.bottom-nav a,
.bottom-nav p {
    text-decoration: none;
    color: var(--color-white-bg);
}