:root {
    --color-supermart-green: #26a541;

}


.navbar {
    background: var(--color-supermart-green);
}

.grocery:hover .dp-menu,
.mobiles:hover .dp-menu,
.fashion:hover .dp-menu,
.electronics:hover .dp-menu,
.home:hover .dp-menu,
.appliances:hover .dp-menu,
.offers:hover .dp-menu,
.home:hover .dp-menu,
.toys:hover .dp-menu {
    display: block;
    color: var(--color-brand-bbd)
}

.category {
    width: 5rem;
    height: 7.3rem;
}

#login-button a {
    color: var(--color-supermart-green);
}

#login-button a,
.nav-para {
    font-weight: 800;
}

@media (max-width: 485px) {
    .navbar-mobile {
        background: var(--color-supermart-green);
    }

    #login--left-pt {
        background: var(--color-supermart-green);
    }

    #login--right-pt form a {
        color: var(--color-supermart-green);
    }

    #login--right-pt form+span a {
        color: var(--color-supermart-green);
    }
}

@media (min-width: 485px) {
    .navbar-mobile {
        background: var(--color-supermart-green);
    }

    #login--left-pt {
        background: var(--color-supermart-green);
    }

    #login--right-pt form a {
        color: var(--color-supermart-green);
    }

    #login--right-pt form+span a {
        color: var(--color-supermart-green);
    }
}