:root {
    --color-supermart-green: #26a541;
    --color-page-bg: #f1f3f6;
    --box-shadow: 0 0 11px rgba(33, 33, 33, .2);

}

#container {
    background: var(--color-page-bg);
}

.navbar {
    background: var(--color-supermart-green);
}

.grocery:hover .dp-menu,
.mobiles:hover .dp-menu,
.fashion:hover .dp-menu,
.electronics:hover .dp-menu,
.home:hover .dp-menu,
.appliances:hover .dp-menu,
.offers:hover .dp-menu,
.home:hover .dp-menu,
.toys:hover .dp-menu {
    display: block;
    color: var(--color-brand-bbd)
}

.category {
    width: 5rem;
    height: 7.3rem;
}

#login-button a {
    color: var(--color-supermart-green);
}

#login-button a,
.nav-para {
    font-weight: 800;
}

main {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.main-content img {
    width: 100%;
    box-shadow: var(--box-shadow);
}

@media (max-width: 485px) {
    .navbar-mobile {
        background: var(--color-supermart-green);
    }

    #login--left-pt {
        background: var(--color-supermart-green);
    }

    #login--right-pt form a {
        color: var(--color-supermart-green);
    }

    #login--right-pt form+span a {
        color: var(--color-supermart-green);
    }

    .items-bar--mobile {
        padding-left: 8rem;
    }

    .category {
        width: 5rem;
        height: 4.2rem;
    }

    .category>a img {
        width: 2.5rem;
    }
}

@media (min-width: 485px) {
    .navbar-mobile {
        background: var(--color-supermart-green);
    }

    #login--left-pt {
        background: var(--color-supermart-green);
    }

    #login--right-pt form a {
        color: var(--color-supermart-green);
    }

    #login--right-pt form+span a {
        color: var(--color-supermart-green);
    }

    .category {
        width: 5rem;
        height: 4.2rem;
    }

    .category>a img {
        width: 2.5rem;
    }
}

@media (min-width: 812px) {
    .category {
        width: 5rem;
        height: 8rem;
    }

    .category>img {
        width: 3.5rem;
    }
}