/* ----------- Media Queries ---------- */
@media (max-width: 485px) {
    .navbar-mobile {
        background: #f00 !important;
    }
    .login-window {
        width: 10rem;
        height: 15rem;
    }

    #title-login {
        font-size: 0.8rem;
        font-weight: 800;
    }

    .txt-login {
        font-size: 0.5rem;
        line-height: 0.8rem;
        width: 4rem;
    }

    #login--left-pt {
        padding: 0.8rem;
    }

    #login--left-pt img {
        width: 6rem;
    }

    #login--right-pt {
        padding: 0.8rem;
    }

    #login--right-pt form {
        gap: 0.6rem;
    }

    #login--right-pt form label {
        font-size: 0.7rem;
    }

    #login--right-pt form div {
        font-size: 0.4rem;
    }

    #login-terms {
        width: 8rem;
    }

    .otp-btn {
        width: 8rem;
        height: 1.2rem;
        font-size: 0.5rem;
    }

    #login--right-pt form+span a {
        font-size: 0.5rem;
    }

    #login-close {
        width: 1rem;
        right: 0.3em;
        top: 0.3em;
    }


    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
        width: 100vw;
        height: 5rem;
        background: var(--color-brand-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 3;
        position: sticky;
        top: 0;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        padding: 1rem;
    }

    #nav-row1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-row1 div img {
        width: 1rem;
        filter: invert();
        margin-right: 0.6rem;
    }

    #nav-row1 div a {
        text-decoration: none;
        color: var(--color-white-bg);
        font-size: 0.8rem;
    }

    #nav-row2 {
        width: 21rem;
        position: sticky;
        top: 0;
        height: 2rem;
        border: 2px solid #fff;
        padding: 0px 10px;
        border-radius: 2px;
        background: var(--color-white-bg);

    }

    #nav-link,
    .nav-para,
    #login-button {
        font-weight: 700;
    }

    .items-bar {
        display: none;
    }

    .items-bar--mobile {
        background: var(--color-white-bg);
        box-shadow: -1 3px #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 0.6rem;
        margin-bottom: 1.3em;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        overflow-x: scroll;
        padding-left: 10.3rem;
    }

    .category {
        width: 5rem;
        height: 5rem;
    }

    .category>a img {
        width: 3rem;
    }

    #banner,
    .wrapper-items {
        width: 98%;
        height: 10rem;
    }

    #banner,
    .slideshow-container img {
        height: 7rem;
    }

    .cover {
        width: 15rem;
    }

    .cover span {
        font-size: 0.63rem;
    }

    .cover button {
        width: 4rem;
        height: 2rem;
        font-size: 0.6rem;
    }

    .wrapper-content div {
        width: 10rem;
    }

    .wrapper--content-txt {
        padding: 0.2rem;
    }

    .wrapper-content div img {
        width: 4rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.4rem;
    }

    .wrapper--content-txt p {
        font-size: 0.6rem;
    }

    #wrapper-content--fridge {
        width: 2.5rem;
    }

    .info>p {
        font-size: 0.8rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.6rem;
        line-height: 0.8rem;
    }

    .bottom-section {
        height: 10rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 0.5rem;
    }

    #left-part div {
        gap: 0.2rem;
        font-size: 0.3rem;
    }

    #left-part>div>a {
        line-height: 0.5rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.4rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.2rem;
        font-size: 0.3rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.4rem;
    }

    #right-part>div>span {
        line-height: 0.5rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 2.5rem;
        padding: 0.8rem;
        font-size: 0.3rem;
        gap: 0.8rem;
    }

    .bottom-nav div img {
        width: 0.5rem;
    }

    #payment-method {
        width: 8rem;
    }

}

@media (min-width: 485px) {
    .navbar-mobile {
        background: #0f0 !important;
    }
    .login-window {
        width: 10rem;
        height: 16rem;
    }

    #title-login {
        font-size: 0.9rem;
        font-weight: 800;
    }

    .txt-login {
        font-size: 0.5rem;
        line-height: 0.8rem;
        width: 4rem;
    }

    #login--left-pt {
        padding: 0.8rem;
    }

    #login--left-pt img {
        width: 6rem;
    }

    #login--right-pt {
        padding: 0.8rem;
    }

    #login--right-pt form {
        gap: 0.6rem;
    }

    #login--right-pt form label {
        font-size: 0.7rem;
    }

    #login--right-pt form div {
        font-size: 0.4rem;
    }

    #login-terms {
        width: 8rem;
    }

    .otp-btn {
        width: 8rem;
        height: 1.2rem;
        font-size: 0.6rem;
    }

    #login--right-pt form+span a {
        font-size: 0.6rem;
    }

    #login-close {
        width: 1rem;
        right: 0.3em;
        top: 0.3em;
    }



    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
        width: 100vw;
        height: 6rem;
        background: var(--color-brand-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 3;
        position: sticky;
        top: 0;
    }

    #mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        padding: 1rem;
    }

    #nav-row1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-row1 div img {
        width: 1.1rem;
        filter: invert();
        margin-right: 0.6rem;
    }

    #nav-row1 div a {
        text-decoration: none;
        color: var(--color-white-bg);
        font-size: 1rem;
    }


    #nav-row2 {
        width: 30rem;
        position: sticky;
        top: 0;
        height: 2rem;
        border: 2px solid #fff;
        padding: 0px 10px;
        border-radius: 2px;
        background: var(--color-white-bg);
    }

    #nav-link,
    .nav-para,
    #login-button {
        font-weight: 700;
    }

    .items-bar {
        display: none;
    }

    .items-bar--mobile {
        background: var(--color-white-bg);
        box-shadow: -1 3px #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 0.6rem;
        margin-bottom: 1.3em;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        overflow-x: scroll;
    }

    .category {
        width: 5rem;
        height: 5rem;
    }

    .category>a img {
        width: 3rem;
    }

    #banner,
    .wrapper-items {
        width: 98%;
        height: 10rem;
    }

    #banner,
    .slideshow-container img {
        height: 8rem;
    }

    .cover {
        width: 15rem;
    }

    .cover span {
        font-size: 0.8rem;
    }

    .cover button {
        width: 4rem;
        height: 2rem;
    }

    .wrapper-content div {
        width: 10rem;
    }

    .wrapper--content-txt {
        padding: 0.2rem;
    }

    .wrapper-content div img {
        width: 4rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.4rem;
    }

    .wrapper--content-txt p {
        font-size: 0.6rem;
    }

    #wrapper-content--fridge {
        width: 2.5rem;
    }

    .info>p {
        font-size: 0.9rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    .bottom-section {
        height: 15rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 0.3rem;
    }

    #left-part div {
        gap: 0.4rem;
        font-size: 0.45rem;
    }

    #left-part>div>a {
        line-height: 0.5rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.4rem;
        font-size: 0.45rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.6rem;
    }

    #right-part>div>span {
        line-height: 0.6rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 3rem;
        padding: 0.9rem;
        font-size: 0.35rem;
        gap: 1rem;
    }

    .bottom-nav div img {
        width: 0.5rem;
    }

    #payment-method {
        width: 9rem;
    }

}

@media (min-width: 812px) {
    .navbar {
        background: #ff0 !important;
    }
    .login-window {
        width: 30rem;
        height: 25rem;
    }

    #title-login {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .txt-login {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 5rem;
    }

    #login--left-pt {
        padding: 1rem;
    }

    #login--left-pt img {
        width: 8rem;
    }

    #login--right-pt {
        padding: 1rem;
    }

    #login--right-pt form {
        gap: 1rem;
    }

    #login--right-pt form label {
        font-size: 0.9rem;
    }

    #login--right-pt form div {
        font-size: 0.8rem;
    }

    #login-terms {
        width: 12rem;
    }

    .otp-btn {
        width: 12rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    #login--right-pt form+span a {
        font-size: 0.9rem;
    }

    #login-close {
        width: 1.5rem;
        right: 0.3em;
        top: 0.3em;
    }


    .navbar-mobile {
        display: none;
    }

    .items-bar--mobile {
        display: none;
    }

    .navbar {
        display: block;
        width: 100vw;
        height: 4rem;
        background: var(--color-brand-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: sticky;
        top: 0;
        z-index: 3;
    }

    .nav-para {
        text-decoration: none;
    }

    #nav-link,
    .nav-para,
    #login-button {
        font-weight: 700;
    }

    .items-bar {
        display: block;
        background: var(--color-white-bg);
        box-shadow: -1 3px #000;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.3em;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }

    .category {
        width: 5rem;
        height: 6rem;
    }

    .category>img,
    .category>a img {
        width: 4rem;
    }

    #banner,
    .wrapper-items {
        width: 98%;
        height: 15rem;
    }

    #banner,
    .slideshow-container img {
        height: 10rem;
    }

    .cover {
        width: 13rem;
    }

    .cover span {
        font-size: 1.2rem;
    }

    .cover button {
        width: 6rem;
        height: 2rem;
    }

    .wrapper-content div {
        width: 12rem;
    }

    .wrapper--content-txt {
        padding: 0.8rem;
    }

    .wrapper-content div img {
        width: 6rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.7rem;
    }

    .wrapper--content-txt p {
        font-size: 0.9rem;
    }

    #wrapper-content--fridge {
        width: 3rem;
    }

    .info>p {
        font-size: 1rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .bottom-section {
        height: 15rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 0.3rem;
    }

    #left-part div {
        gap: 0.4rem;
        font-size: 0.6rem;
    }

    #left-part>div>a {
        line-height: 0.7rem;
    }

    #left-part>div>p {
        margin-bottom: 0.6rem;
        font-size: 0.8rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.4rem;
        font-size: 0.6rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    #right-part>div>span {
        line-height: 0.8rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 3rem;
        padding: 0.9rem;
        font-size: 0.6rem;
    }

    .bottom-nav div img {
        width: 0.8rem;
    }

    #payment-method {
        width: 13rem;
    }
}

@media (min-width: 1024px) {
    #login {
        display: none;
        position: absolute;
        z-index: 5;
        background: #0009;
        pointer-events: visible;
    }

    .login-box {
        height: 100svh;
        width: 100svw;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login-window {
        width: 750px;
        height: 482px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);

    }

    #login--left-pt {
        height: 100%;
        background: var(--color-brand-blue);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 4px 0 0 4px;
        flex-grow: 1;
    }

    #title-login {
        color: var(--color-white-bg);
        font-size: 23px;
        font-weight: 800;
    }

    .txt-login {
        color: var(--color-white-bg);
        font-size: 18px;
        line-height: 1.5em;
        width: 13rem;
        text-align: left;
    }

    #login--left-pt img {
        width: 200px;
    }

    #login--right-pt {
        height: 100%;
        background: var(--color-white-bg);
        border-radius: 0 4px 4px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-grow: 2;
    }

    #login--right-pt form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 3em;
    }

    #login--right-pt form label {
        font-size: 16px;
        color: #878787;
    }

    #login--right-pt form input {
        outline: none;
        border: none;
        border-bottom: 1px solid #878787;
    }


    #login--right-pt form div {
        color: #878787;
        font-size: 12px;
    }

    #login-terms {
        width: 20rem;
    }

    #login--right-pt form a {
        text-decoration: none;
        color: var(--color-brand-blue);
    }

    .otp-btn {
        width: 20rem;
        height: 3rem;
        outline: none;
        border: none;
        font-size: 16px;
        font-weight: 800;
        color: var(--color-white-bg);
        background: var(--color-brand-orange);
        cursor: pointer;
    }

    #login--right-pt form+span a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 800;
        color: var(--color-brand-blue);
    }

    #login-close {
        width: 2em;
        position: absolute;
        right: 0.3em;
        top: 0.3em;
        cursor: pointer;
    }

    #nav-link,
    .nav-para,
    #login-button {
        font-weight: 700;
    }

    #banner,
    .wrapper-items {
        width: 90%;
        height: 17rem;
    }

    #banner,
    .slideshow-container img {
        height: 12rem;
    }

    .cover {
        width: 14rem;
    }

    .cover span {
        font-size: 1.3rem;
    }

    .cover button {
        width: 7rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .wrapper-content div {
        width: 14rem;
    }

    .wrapper--content-txt {
        padding: 0.9rem;
    }

    .wrapper-content div img {
        width: 7rem;
    }

    .wrapper--content-txt>span {
        font-size: 0.8rem;
    }

    .wrapper--content-txt p {
        font-size: 1rem;
    }

    #wrapper-content--fridge {
        width: 3rem;
    }

    .info>p {
        font-size: 1rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    .bottom-section {
        height: 20rem;
        padding: 1rem;
        gap: 1rem;
    }

    .bottom-section #left-part {
        gap: 1rem;
    }

    #left-part div {
        gap: 0.4rem;
        font-size: 0.7rem;
    }

    #left-part>div>a {
        line-height: 0.9rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .bottom-section #right-part {
        width: 10rem;
        gap: 1rem;
    }

    .vert-line {
        height: 5rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.4rem;
        font-size: 0.7rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    #right-part>div>span {
        line-height: 1rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 4rem;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .bottom-nav div img {
        width: 0.9rem;
    }

    #payment-method {
        width: 20rem;
    }
}

@media (min-width: 1280px) {

    #banner,
    .wrapper-items {
        width: 90%;
        height: 20rem;
    }

    #banner,
    .slideshow-container img {
        height: 15rem;
    }

    .cover {
        width: 15rem;
    }

    .cover span {
        font-size: 1.6rem;
    }

    .cover button {
        width: 8rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .wrapper-content div {
        width: 16rem;
    }

    .wrapper--content-txt {
        padding: 1.1rem;
    }

    .wrapper-content div img {
        width: 8rem;
    }

    .wrapper--content-txt>span {
        font-size: 1rem;
    }

    .wrapper--content-txt p {
        font-size: 1.2rem;
    }

    #wrapper-content--fridge {
        width: 4.3rem;
    }
}

@media (min-width: 1536px) {
    .navbar {
        height: 4rem;
        gap: 1.5rem;
    }

    #nav-logo {
        height: 1.5rem;
    }

    .search-element {
        width: 30rem;
        height: 3rem;
    }

    #search {
        font-size: 1rem;
    }

    table img {
        width: 1.5rem;
    }

    #login-button {
        height: 3em;
        width: 7em;
    }

    #login-button a {
        font-size: 1rem;
    }

    #nav-link,
    .nav-para {
        text-decoration: none;
        font-size: 1rem;
    }

    #nav-link,
    .nav-para,
    #login-button {
        font-weight: 700;
    }

    #nav-cart {
        width: 1.2rem;
        filter: invert();
    }

    .items-bar {
        padding: 1.4rem;
        gap: 2.5rem;
        margin-bottom: 2rem;
    }

    .category {
        width: 6rem;
        height: 7rem;
    }

    .category>img,
    .category>a img {
        width: 4rem;
    }

    .category,
    .category>a,
    .category span p {
        font-size: 0.9rem;
    }

    .dp-menu {
        width: 18rem;
    }

    .menu-list {
        line-height: 1.5rem;
        padding: 0.8rem;
    }

    .menu-list a {
        font-size: 1rem;
    }

    #banner,
    .wrapper-items {
        width: 80%;
        height: 25rem;
    }

    #banner,
    .slideshow-container img {
        height: 18rem;
    }

    .cover {
        width: 30rem;
    }

    .cover img {
        width: 30rem;
    }

    .cover span {
        font-size: 1.6rem;
    }

    .cover button {
        width: 11rem;
        height: 4rem;
        font-size: 1.2rem;
    }

    .wrapper-content div {
        width: 30rem;
    }

    .wrapper--content-txt {
        padding: 1.5rem;
    }

    .wrapper-content div img {
        width: 10rem;
    }

    .wrapper--content-txt>span {
        font-size: 1.1rem;
    }

    .wrapper--content-txt p {
        font-size: 1.2rem;
    }

    #wrapper-content--fridge {
        width: 6rem;
    }


    .info>p {
        font-size: 1rem;
        font-weight: 800;
        margin: 1rem 0;
    }

    .info>span {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .bottom-section {
        height: 20rem;
        padding: 1rem;
        gap: 2rem;
    }

    .bottom-section #left-part {
        gap: 2rem;
    }

    #left-part div {
        gap: 0.6rem;
        font-size: 0.8rem;
    }

    #left-part>div>a {
        line-height: 1rem;
    }

    #left-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .bottom-section #right-part {
        width: 20rem;
        gap: 2rem;
    }

    .vert-line {
        height: 9rem;
        width: 0.1rem;
        background: var(--color-white-bg);
    }

    #right-part div {
        gap: 0.6rem;
        font-size: 0.8rem;
    }

    #right-part>div>p {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    #right-part>div>span {
        line-height: 1.2rem;
    }

    .bottom-nav {
        margin-top: 0.1rem;
        height: 4rem;
        padding: 1rem;
        font-size: 0.8rem;
    }

    .bottom-nav div img {
        width: 0.9rem;
    }

    #payment-method {
        width: 20rem;
    }
}